.banner {
  position: relative; /* Esto permite que los elementos hijos posicionados absolutamente se posicionen en relaci칩n con este elemento */
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 550px;
}


.titulo-banner{
  margin-top: 45px;
  margin-left: 5rem;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



.banner-image1 {
  position: absolute;
  top: 50px;
  left: 67px;
  height: 140px;
  width: auto;
}

.banner-image2 {
  position: absolute;
  top: 320px;
  right: 650px;
  animation: fadeInLeft 2s ease-out forwards;
  height: 140px;
  width: auto;
}

.banner-image3 {
  position: absolute;
  top: 350px;
  left: 85px;
  animation: fadeInLeft 2s ease-out forwards;
  height: 70px;
  width: auto;
}




/* Estilos banner*/



.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;

}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}



.banner-search {
  position: absolute;
  top: 370px;
  left: 73%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 35px;
  max-width: 45%;
  border: 2px solid #ffffff;
}

.banner-search-category,
.banner-search-avaluacion,
.banner-search-input,
.banner-search-button {
  padding: 6px;
  border-radius: 15px;
  background: none; /* Agregado para quitar el fondo blanco */
  border: none;     /* Agregado para quitar el borde negro */
  color: #424242;
  font-size: 15px;
  font-family: roboto;

}

.banner-search-input {
  flex-grow: 1;
  max-width: 45%;
}


.btn-fixi{
  border: none;
  font-weight: bold;
  padding: 8px 12px; /* A침adido padding para aumentar el tama침o del bot칩n */
  font-family: roboto 800;
  font-size: 1rem;;
  background-color: #D8F500;
  border-radius: 2rem;
  color: #000;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken(#D8F500, 10%);
    transform: scale(1.05);
  }

  &:active {
    background-color: darken(#D8F500, 15%);
    transform: scale(1);
  }
}




.custom-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #D8F500;
  background-color: transparent;
  color: #D8F500;
  padding: 10px 30px ;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  max-height: 40px;

  align-items: center;
  border-radius: 40px;
}

.custom-button:hover {
  background-color: #D8F500;
  color: #2b2b2b;
  transform: scale(1.05);
}

.custom-button:active {
  background-color: #D8F500;
  color: #282828;
}


.fondo-page{


 
  background-color: #fcf8ee;
  padding-bottom: 40px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
















.footer {
  border-top: 1px solid #dee2e6;
  background-color: #000;
}

.footer h5 {
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #000;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}
