<footer class="mb-4 mx-4 mt-4">
  <div class="container modificar-footer">
    <!-- Primera fila -->
    <div class="row fila-footer">

        <div class="col-8 texto-footer">
          <h1>¿ESTAS LISTO PARA <br/> <span class="palabra-comenzar-verde">COMENZAR?</span></h1>
        </div>

        <div class="col-4 d-flex justify-content-center align-items-center">
          <%= link_to "¡Registrate!", user_session_path, class: "boton-unico" %>
        </div>

    </div>

    <!-- Segunda fila -->
    <div class="row info-izquierda">
      <!-- Col grande -->
      <div class="col-lg-6">
        <h5>Contacto</h5>
        <p>Dirección: 1234 Calle Principal, Ciudad de la Vida</p>
        <p>Teléfono: (123) 456-7890</p>
        <p>Email: contacto@fixi.com</p>
        <img src="<%= asset_path 'logo-fixi-blanco.png' %>" alt="">
      </div>

      <!-- Col derecha -->
      <div class="col-lg-6">
        <div class="row">
          <!-- Subcolumnas -->
          <div class="col-md-4 personalizado-texto-footer">
            <h5>Enlaces útiles</h5>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Productos</a></li>
            </ul>
          </div>

          <div class="col-md-4 personalizado-texto-footer">
            <h5>Legal</h5>
            <ul>
              <li><a href="#">Política de privacidad</a></li>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Política de cookies</a></li>
            </ul>
          </div>

          <div class="col-md-4 personalizado-texto-footer">
            <h5>Redes Sociales</h5>
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
