<footer>
    <div class="container">
        <div class="row info-izquierda">
            <!-- Col grande -->
            <div class="col-lg-6">
                <h5>Contacto</h5>
                <p>Dirección: 1234 Calle Principal, Ciudad de la Vida</p>
                <p>Teléfono: (123) 456-7890</p>
                <p>Email: fixiservices@gmail.com</p>
                <img src="<%= asset_path 'logo-fixi-blanco.png' %>" alt="">
            </div>

            <!-- Col derecha -->
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Enlaces útiles</h5>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Productos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Legal</h5>
                        <ul>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Términos y condiciones</a></li>
                            <li><a href="#">Política de cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Redes Sociales</h5>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
