
<script src="https://sdk.mercadopago.com/js/v2"></script>


<div class="cho-container"></div>
<script>
  const mp = new MercadoPago('PUBLIC_KEY', {
    locale: 'es-AR'
  });

  mp.checkout({
    preference: {
      id: @request.id,,
    },
    render: {
      container: '.cho-container',
      label: 'Pagar',
    }
  });
</script>
<%  %>
