
/* Clase para dar estilo a las leyendas del carrusel */
.custom-carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar contenido verticalmente */
    height: 100%; /* Ocupar toda la altura del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    border-radius: 40px;

  }

/* Clase para dar estilo a la valoración con estrellas */
.star-rating {
  display: flex;
  align-items: center; /* Alinea verticalmente las estrellas y el texto */
  gap: 5px; /* Espacio entre las estrellas y el texto */
}

.star-rating .fa-star {
  color: gold; /* Color de las estrellas */
}

.star-rating h4 {
  margin: 0; /* Elimina el margen alrededor del texto de la valoración */
  color: white; /* Color del texto de la valoración */
}

/* Clase para dar estilo a los botones de control del carrusel */
.custom-carousel-control {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para los botones */
  border-radius: 50%; /* Hace que los botones sean circulares */
}

/* Clase para dar estilo a las imágenes del carrusel */
.fondo-carrusel-nuevo {
  max-height: 500px;
  object-fit: cover; /* Mantiene la relación de aspecto de las imágenes */
  // background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}


.filtro-img{
  filter: brightness(50%);
  border-radius: 40px;
}

/* Clase para dar estilo a las leyendas del carrusel */
.cajita-reviews{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar contenido verticalmente */
  height: 100%; /* Ocupar toda la altura del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  border-radius: 40px;
}

/* Clase para eliminar las clases d-none y d-md-block en caso de que desees que el contenido sea visible en todas las pantallas */
.d-none.d-md-block {
  display: block !important;
}

.descripcion-reviews >p{
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 200;
  font-family: roboto;
}

.descripcion-reviews >h5{
  font-size: 24px;
  font-weight: 500;
}
