.personalizado {
  margin-top: 4rem;

}



.nuevas-tarjetas-category {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  margin: 0px;
  height: 100%;
  width: 300%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 100%; /* Establece un ancho máximo para evitar que se exceda del contenedor */
  background-size: cover;
  filter: grayscale(100%); /* efecto de blanco y negro */
}


.nuevas-tarjetas-category:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Sombra más profunda al pasar el ratón */
  filter: grayscale(0%); /* Cambia el filtro a 0% para que la imagen regrese a su color original al pasar el ratón */
}

.tarjetas-nombre {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0; /* Elimina el margen para un centrado más preciso */
  color: #D8F500; /* Establece el color del texto */
  padding: 10px; /* Añade padding alrededor del texto */
}
