.reviews-section {
  padding: 50px 0;
}

.review-card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}


.review-card .star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.review-card .star-rating .fa {
  color: #ffc107;
}

.review-card .star-rating .fa:not(.checked) {
  color: #e0e0e0;
}

.review-card h4{
  font-size: 20px;
}

.review-card h5{
  font-size: 18px;
  color: #555;
  text-align: right;margin-right: 50px;
}

.review-card p {
  font-size: 18px;
  color: #555;
}

.review-card h5 {
  font-size: 20px;
  margin-top: 20px;
  color: #333;
}
