.card-fixers {
  border-radius: 15px;

  color: white;
  box-shadow: 0px 5px 5px rgb(180, 180, 180);
  padding: 1rem;
  margin-bottom: 20px; /* Espaciado entre tarjetas */
  transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
  background-size: cover; /* Asegura que la imagen de fondo cubra toda la tarjeta */
  background-blend-mode: overlay; /* Ayuda a la mezcla de colores de gradiente e imagen */
  overflow: hidden; /* Esconde cualquier contenido que se desborde del borde redondeado */
}

.card-fixers:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); /* Sombra más profunda en hover */
}

.color-titulo {
  color: #202020;
  font-weight: bold;
}

.titulo-category {
  margin: 2rem 0;
  font-weight: bold;
  padding: 10px; /* Espaciado alrededor del título */
  border-radius: 10px; /* Bordes redondeados para el fondo del título */
}

.textito {
  font-size: 1.5rem;

}

.btn-fixi{
  font-family: roboto 800;
  font-size: 1.5rem;;
  background-color: #D8F500;
  border-radius: 2rem;
  color: #000;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken(#D8F500, 10%);
    transform: scale(1.05);
  }

  &:active {
    background-color: darken(#D8F500, 15%);
    transform: scale(1);
  }
}
