    footer {
        border-top: 1px solid #dee2e6;
        background-color: #000;
        color: white;
    }

    .info-izquierda{
      margin-top: 40px;
      padding-bottom: 40px;
    }
    .info-izquierda img{
      margin-top: 20px;
      width: 100px;
      height: auto;
      padding-right: 12px;
    }

    h5{
      font-size: 18px;
    }

    p{
      font-size: 13px;
      margin: 0;
    }

    a{
      text-decoration: none;
      color: white;
      font-size: 13px;
    }

    ul {
      list-style: none;
      padding: 0;
  }
