.fondo-principal {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 5rem;
  border-radius: 30px;
}

.img-capsula {
  width: 90%; /* O especifica un ancho fijo, por ejemplo, 200px */
  height: 90%;
  align-self: center;
  border-radius: 300px;
  border: #00273d solid 1px;
  padding: 10px;
}

.text-grande {
  margin-top: 8rem;
}

.texto-informacion{
  margin-bottom: 1.8rem;
}

.text-grande h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #262626;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: -0.05em;

}

.rayado-informacion{
  position: absolute;
  z-index:-1;
  right: 6rem;
  top: 1rem;
  opacity: 0.4;
}

.btn-tamaño-xl{
  border-radius: 30px;
  font-family: roboto 800;
  font-size: 1.5rem;;
  background-color: #D8F500;
  color: #000;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  padding: 8px 12px 8px 12px;
  font-weight: 700;


  &:hover {
    background-color: darken(#D8F500, 10%);
    transform: scale(1.05);
  }

  &:active {
    background-color: darken(#D8F500, 15%);
    transform: scale(1);
  }
}
