.fondo-principal {
  background-color: #D8F500;
  border-radius: 30px;
}

.img-capsula {
  width: 90%; /* O especifica un ancho fijo, por ejemplo, 200px */
  height: 90%;
  align-self: center;
  border-radius: 300px;
}

.text-grande {
  margin-top: 8rem;
}

.text-grande h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #262626;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: -0.05em;

}
