.pregunta-cansancio{
  font-size: 1rem;
  margin-top: 1rem;
}
.altura-contenedor{
  min-height: 700px;
}

.fondo-login{
  background-color: #00273d;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.login-title{
  color:white;
  margin-bottom: 2rem;
}
