.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.fixers-map{
  width: 100%;
  height: 30rem;
  border-radius: 1.5rem;
}
.fondo-titulo-mapa{
  background-color: #D8F500;
  padding: .3rem 1rem;
  border-radius: 20px;
}
.popup{
  width: 100px;
  padding: 1rem;
}
