.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border: 2px solid rgb(161, 161, 161);
  border-radius: 35px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.link-landing {
  color: black;
  font-family: roboto;
  font-size: 15px;
  transition: background-color 0.5s, transform 0.5s; /* Transición suave */
  background-color: transparent; /* Color de fondo inicial definido */
  border-radius: 20px; /* Bordes redondeados */

  &:hover {
    background-color: rgba(216, 245, 0, 0.6); /* Ajuste de la opacidad para un fondo más oscuro */
    transform: scale(1.05);
    font-weight: bold; /* Hace que la letra sea más negrita al pasar el ratón */
    stroke: 20px;
  }
}
