.titulos-todas-secciones {
  border-bottom: 1px solid rgb(161, 161, 161);
  width: 100%;
}

.espaciado-line{
  padding-bottom: 23px;
}


.titulo-informacion{
  font-family: roboto;
  font-weight: 450;
}

.profesionales{
  font-family: roboto;
  font-weight: 100;
}

.particularidad-titulo1{
  padding-top: 5rem;
}
