<div class="container">
  <h1 class="text-center my-5">FIXERS <span class="fondo-titulo-mapa">CERCANOS</span></h1>
  <div class="row my-5 justify-content-center">
    <div class="col-9">
      <div class="fixers-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-c-user-value="<%= @c_user.to_json %>">
      </div>
    </div>
  </div>
</div>
